$background-color: rgb(250,250,250);
$heading-color: rgb(141,142,142); 
$primary-color: rgb(25,110,255); 
$primary-color-light: rgb(78,143,255); 
$complement-color: rgb(255, 164, 1);
$hover: rgb(98, 156, 255); 
$heading-font: 'BebasNeue', sans-serif;
$body-font: 'Quicksand', sans-serif;

h1 {
	font-family: $heading-font; 
	font-size: 2.5em; 
	text-align: center; 
	color: $heading-color; 
}


body {
  background: $background-color;
  padding-top: 5em;
  display: flex; 
  justify-content: center;
  text-align: center; 
  align-items: center; 
  text-align: center; 
  width:100%;
}

ul {
 list-style-type: none; 
}

li {
 text-align: left !important;
 font-family: $heading-font; 
 font-size: 1em; 
 color: black; 
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center; 
}

small {
  font: $body-font;
  text-transform: uppercase; 
  color: $heading-color; 
}



/* Type writing effects */
.typewriter h1 {
  overflow: hidden; 
  white-space: nowrap; 
  border-right: .1em solid $primary-color; 
  margin: 0 auto; 
  letter-spacing: .1em; 
  animation: 
  typing 4s steps(40, end),
  blink-caret 1s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: $primary-color; }
}

/* Body font */
@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand.otf');
}

/* Head font */
@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue.otf');
}

form {
  padding-top: 5%; 
  width: 100%;
  display: inline-block;
  input,
  textarea {
    border: 0.15em solid $primary-color;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1em;
  }
  textarea:focus {
    outline: none;
    border-color: $primary-color-light;
  }
  textarea {
    height: 5em;
    resize: none;
  }
  .submit {
    border: none;
    padding: 0;
    margin: 0 auto;
    text-align: right;
  }
  input[type="submit"] {
    background: $primary-color-light;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: 33%;
    &:hover {
      background: $hover;
    }
  }

  label {
    display: block;
    margin-bottom: 20px;
    span {
      display: block;
      font-family: $heading-font; 
      font-size: 1em; 
      text-align: left; 
      color: $heading-color; 
    }
  }
  .message-form { 
    margin: auto; 
    max-width: 100%; 
  }
}