$background-color: rgb(250,250,250);
$heading-color: rgb(110,110,110); 
$heading-color-dark: rgb(60,60,60);
$heading-color-light: rgb(180,180,180);
$primary-color: rgb(25,110,255); 
$primary-color-light: rgb(78,143,255); 
$complement-color: rgb(255, 164, 1);
$hover: rgb(98, 156, 255); 
$heading-font: 'BebasNeue', sans-serif;
$body-font: 'Quicksand', sans-serif;

h1 {
  padding-top: 0;
	font-family: $heading-font; 
	font-size: 2.5em; 
	text-align: center; 
	color: $heading-color; 
}

body {
  background: $background-color;
  padding-top: 1em;
  display: flex; 
  justify-content: center;
  text-align: center; 
  align-items: center; 
  text-align: center; 
  max-width: 100%;
}

@media screen and (min-width: 376px) {
  .form {
    margin: 0 auto;
    width: 580px;
  }

  form {
    textarea {
      width: 32em !important;
    }
  }
}

p {
  width: 100%; 
  font-family: $body-font;
}

ul {
  width: 85%;
  padding-left: 3%;
  padding-right: 3%;
  list-style-type: none; 
}

li {
  padding-top:7%;
  width: 100%;
  text-align: left;
  font-family: $body-font; 
  font-size: 1em; 
  color: $heading-color-dark; 
  overflow: scroll;
  overflow-x: hidden;
}

li:nth-child(odd) {
  text-align: right; 
  padding-left: 10%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center; 
}

small {
  font: $body-font;
  text-transform: uppercase; 
  color: $heading-color; 
}

/* Type writing effects */
.typewriter h1 {
  overflow: hidden; 
  white-space: nowrap; 
  border-right: .1em solid $primary-color; 
  margin: 0 auto; 
  letter-spacing: .1em; 
  animation: 
  typing 2s steps(40, end),
  blink-caret 1s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: $primary-color; }
}

/* Body font */
@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand.otf');
}

/* Head font */
@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue.otf');
}

.form {
  position: fixed;
  top: 72%;
  left: 5%;
  right: 5%;
}

form {
  display: block;
  width: 100%;
  input,
  textarea {
    padding-top: 2%;
    border:none;
    border-top: 0.05em solid $primary-color;
    width: 19em;
    float: left;
    box-sizing: border-box;
    font-size: 1em;

  }
  textarea:focus {
    outline: none;
    border-color: $primary-color-light;
  }
  textarea {
    background: $background-color;
    height: 2em;
    resize: none;
  }
  .submit {
    border: none;
    padding: 0;
    margin: 0 auto;
    float: right;
    text-align: right;
  }

  input#submit-button {
    background: transparent url(../images/Forward-100.png) no-repeat;
    background-size: cover;
    border:none;
    color: white;
    height: 23px;
    width: 23px;
    margin-top: 0.4em;
    font-size: 18px;
    &:hover {
      opacity: 0.5;
    }
  }

  ::-webkit-input-placeholder {
    padding-top: 1.5%;
    color: $heading-color-light;
    font-size: 1em;
    font-family: $body-font;
  }

  label {
    display: block;
    margin-bottom: 20px;
    span {
      display: block;
      font-family: $body-font; 
      font-size: 0.6em; 
      text-align: left; 
      color: $heading-color; 
    }
  }
  .message-form { 
    margin: auto; 
    max-width: 100%; 
  }
}

.help {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 1.5em;
}

  .help-button{
    border: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }

  input#help-button {
    background: transparent url(../images/Help-100.png) no-repeat;
    background-size: cover;
    border: none;
    height: 23px;
    width: 23px;
    text-transform: uppercase;
    &:hover {
      opacity: 0.5;
    }
  }

.back {
  position: fixed;
  bottom: 90%;
  right: 80%;
  width: 10%;
}

  .back-button {
    border: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  input#back-button {
    background: $primary-color-light;
    color: white;
    font-size: 16px;
    text-transform: none;
    width: 2.8em;
    &:hover {
      background: $hover;
    }
  }
