@(url: String)
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chat Room</title>
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
	<link href='https://fonts.googleapis.com/css?family=Raleway:300,300italic,500' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
</head>

<body>
<div class="container">
	<div class="typewriter">
		<h1>Hello, my name is Dolores</h1>
	</div>
	<div id = "form">
		<form action="@routes.Application.addMessage()">
		<input type="text" message="message"/>
		<button>Send</button>
		</form>
	</div>
	<div id = "message-form">

		<form>

					<label><span>Send Dolores a Message</span>
						<textarea name="message"></textarea></label>

						<fieldset class="submit">
							<input type="submit" value="Send">
						</fieldset>

					</form>

				</div>

			</body>

			</html>