 @(url: String)
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chat Room</title>
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
	<link href='https://fonts.googleapis.com/css?family=Raleway:300,300italic,500' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<script src="@routes.Assets.versioned("javascripts/main.js")"type="text/javascript"></script>

</head>

<body>
	<div class="container">

		<h1>Chatbot Dolores</h1>

		<ul id="messages"></ul>
		<div class="form">
			<form action="@routes.Application.addMessage()" method="post" id="form">
				<label><span>Chat</span>
					<textarea name="name" placeholder="Send Dolores a message..." id = "textarea"></textarea>
					<fieldset class="submit">
						<input type="submit" value="" id="submit-button">
					</fieldset>
				</form>

			</div>
			<!--- Kommentera bort följande div för att få bort likeknappen, problemet med denna är att den visar sig innan man har ställt en fråga, jag tror att ett skript löser det-->
			<div class="like"> 
				<form action="@routes.Application.likeAnswer()" method="post">
					<fieldset class="submit">
						<input type="submit" value="" id="like-button"> 
					</fieldset>
				</form>
			</div>

			<div class="help">
				<form method="get" action="/help">
					<fieldset class ="help-button">
						<input type="submit" value="" id="help-button">
					</fieldset>
					
				</form>
			</div>
		</body>
		<footer><small>Copyright &copy; 2017 Los Knackos Locos</small></footer>

		</html>
